/* ======= CSS App ======= */

body{
	background-color: #EFF7FF;
}

div.gallery {
    border: 1px solid #CCC;
    float: left; 
}

div.gallery:hover {
    border: 1px solid #82204A;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}

button {
    background-color: #558c8c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a5f5f;
    color: white;
    text-align: center;
}